*{
    /*font-family: "Roboto", 'Courier New', Courier, monospace;*/
    color: white;
    
}
body{
    background-color: black
}
.progress{
    margin: 3%;
}
.verticaltext{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap; 
}
.card-header{
    padding: 2px !important;
}

.list-unstyled{
    padding: 2px!important;
    margin: 0%!important;
}
.card-text{
    margin: 0%!important;
}
p,h5,h6{
    margin: 2px;
}
.alert{
    padding: 2px 5px 2px 5px!important;                                
}
.badge{
    font-family:"Roboto", 'Courier New', Courier, monospace;
}
/*
.borde{
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(13,202,240);
    border-width: 1px;
    margin: 2px;
}
*/
hr{
    color: rgb(13,202,240);
    opacity: .8;
    margin: 0px;
}