*{
    /*font-family: "Roboto", 'Courier New', Courier, monospace;*/
    color: white;
    
}
.progress{
    margin: 3%;
}
.verticaltext{
    width:1px;
    word-wrap: break-word;
    white-space:pre-wrap; 
}
.card-header{
    padding: 2px !important;
}

.list-unstyled{
    padding: 2px!important;
    margin: 0%!important;
}
.card-text{
    margin: 0%!important;
}
p,h5,h6{
    margin: 2px;
}
.alert{
    padding: 2px 5px 2px 5px!important;                                
}
